/* Estilos generales */
body {
    font-family: 'Lara', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Color de fondo claro */
}

/*Header*/

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #372a73;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    padding: 20px;
    background-color:#ffffff; /* Fondo blanco para el contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border-radius: 8px; /* Bordes redondeados */
    margin: 20px 0;
}

h1 {
    text-align: center;
    color: #372a73; /* Color del texto del título */
    font-size: 2em;
    margin-bottom: 20px;
}

.team-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.team-member {
    background-color: #4d0686; /* Fondo suave */
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.team-member h2 {
    font-size: 1.5em;
    color: #fff; /* Color azul para el nombre */
    margin-bottom: 10px;
}

.team-member p {
    font-size: 1em;
    color: #fff; /* Color negro para el texto */
}

.contact-info {
    margin-top: 10px;
}

.contact-info p {
    margin: 0;
    font-size: 1em;
}

.contact-info i {
    margin-right: 5px;
    color: #25D366; /* Color verde de WhatsApp */
}

/* Estilo para la sección de medios */
.media-section {
    text-align: center;
    margin-top: 30px;
}

.media-section h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

./* Estilo para la sección de medios */
.media-section {
    text-align: center;
    margin-top: 30px;
}

.media-section h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    width: 15cm;
    height: 10cm;
    overflow: hidden;
    background-color: #000; /* Fondo negro para resaltar el video */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
}


